<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>Wordish</title>
		<link rel="stylesheet" href="../../static/wordish/wordish.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src= "{% static 'wordish/wordish.js' %}"></script>
	</head>
	<body>
		
		<form action="/validate/guess" method="post">
			<div class="content">
				<div class="title"><h1>Word-ish<h1></div>
				<div class="grey-line"></div>	
				<div id="status">{{ message }}</div>
				<input type="hidden" id="message" name="message" value="{{ message }}" />
				<table>
					{% for row in matrix %}
					<tr>
						{% for cell in row %}
						<td class="cell" id="{{ cell.id }}" style="background-color:{{ cell.color }}">{{ cell.letter }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>

				Guess <input id="guess_text" name="guess_text" /><br>
				<button id="guess_button">Submit</button>
			

				<input type="hidden" name="target" value="{{ target }}" />
				<input type="hidden" name="guesses" value="{{ guesses }}" />
				<input type="hidden" name="colors" value="{{ colors }}" />
				<input type="hidden" name="matrix" value="{{ matrix }}" />
				<input type="hidden" id="attempt_num" name="attempt_num" value="{{attempt_num}}" />

				{% csrf_token %}
				
		</form>
		<br>
	</div>	
	<button id="toggle_theme">Switch theme</button>

	</body>
</html>
